Repository boostcampwm-2022/web24-Asnity, pull requests merged in 2022-11, with the labels that each got.

#38 refactor: usersRepository -> userRepository 클래스 명 수정
  server/apps/api/src/user/user.controller.ts
  server/apps/api/src/user/user.module.ts
  server/apps/api/src/user/user.service.ts
  server/dao/repository/user.repository.ts
Labels: 🌐 server, 🚧 refactor

#44 [Server] #20 팔로잉 요청 수행
  server/.prettierrc
  server/apps/api/src/api.controller.ts
  server/apps/api/src/api.module.ts
  server/apps/api/src/main.ts
  server/apps/api/src/user/dto/add-following.dto.ts
  server/apps/api/src/user/user.controller.ts
  server/apps/api/src/user/user.module.ts
  server/apps/api/src/user/user.service.ts
  server/dao/repository/user.repository.ts
  server/package.json
Labels: 🌐 server

#59 [Feature/auth] 로그인 요청 기능
  server/apps/api/src/auth/auth.controller.ts
  server/apps/api/src/auth/auth.module.ts
  server/apps/api/src/auth/auth.service.ts
  server/dao/repository/user.repository.ts
  server/package.json
  server/utils/responseForm.ts
  yarn.lock
Labels: 🌐 server, ✨ feature

#48 [CLIENT] 공통 레이아웃 적용을 위한 라우팅 구조 수정
  client/.eslintrc
  client/src/App.tsx
  client/src/pages/DM/index.tsx
  client/src/pages/Friends/index.tsx
  client/src/pages/Home/index.tsx
Labels: ✨ feature, 🌈 client

#45 [CLIENT] 공통 컴포넌트 - 아바타, 커뮤니티 아바타, 유저 아바타 작성
  client/src/common/components/Avatar/index.tsx
  client/src/common/components/CommunityAvatar/index.tsx
  client/src/common/components/UserAvatar/index.tsx
Labels: ✨ feature, 🌈 client

#63 [CLIENT/FEAT] `Home` 페이지 레이아웃
  client/src/features/CommunityNav/index.tsx
  client/src/features/DmNav/index.tsx
  client/src/features/Gnb/index.tsx
  client/src/features/Sidebar/index.tsx
  client/src/pages/DM/index.tsx
  client/src/pages/DMRoom/index.tsx
  client/src/pages/Friends/index.tsx
  client/src/pages/Home/index.tsx
  client/tailwind.config.js
Labels: ✨ feature, 🌈 client

#70 [Fix/validation] validation 버그 수정
  server/apps/api/src/auth/auth.controller.ts
  server/apps/api/src/auth/auth.service.ts
  server/apps/api/src/auth/dto/auth.dto.ts
  server/apps/api/src/main.ts
  server/apps/api/src/user/dto/create-user.dto.ts
  server/dao/repository/user.repository.ts
  server/dao/schemas/user.schema.ts
  server/utils/def.ts
Labels: 🌐 server, 🧰fix

#73 [fix: 특정 사용자 정보 요청]
  server/apps/api/src/user/dto/user-basic-info.dto.ts
  server/apps/api/src/user/user.controller.ts
  server/apps/api/src/user/user.service.ts
  server/dao/repository/user.repository.ts
Labels: 🌐 server

#91 [Server] 회원가입, 로그인, 팔로잉
  .github/workflows/server.yml
  .github/workflows/server_dev_api.yml
  .gitignore
  server/.gitignore
  server/.prettierrc
  server/__mock__/user.mock.ts
  server/apps/api/src/api.controller.ts
  server/apps/api/src/api.module.ts
  server/apps/api/src/auth/auth.controller.ts
  server/apps/api/src/auth/auth.module.ts
  server/apps/api/src/auth/auth.service.ts
  server/apps/api/src/auth/dto/auth.dto.ts
  server/apps/api/src/auth/dto/index.ts
  server/apps/api/src/auth/guard/index.ts
  server/apps/api/src/auth/guard/jwt-access.guard.ts
  server/apps/api/src/auth/guard/jwt-refresh.guard.ts
  server/apps/api/src/auth/helper/signToken.ts
  server/apps/api/src/auth/strategy/index.ts
  server/apps/api/src/auth/strategy/jwt-access.strategy.ts
  server/apps/api/src/auth/strategy/jwt-refresh.strategy.ts
  server/apps/api/src/channel/channel.controller.ts
  server/apps/api/src/channel/channel.module.ts
  server/apps/api/src/channel/channel.service.ts
  server/apps/api/src/community/community.controller.ts
  server/apps/api/src/community/community.module.ts
  server/apps/api/src/community/community.service.ts
  server/apps/api/src/main.ts
  server/apps/api/src/user/dto/create-user.dto.ts
  server/apps/api/src/user/dto/follower.dto.ts
  server/apps/api/src/user/dto/modify-user.dto.ts
  server/apps/api/src/user/dto/user-basic-info.dto.ts
  server/apps/api/src/user/user.controller.ts
  server/apps/api/src/user/user.module.ts
  server/apps/api/src/user/user.service.ts
  server/apps/api/test/user.service.spec.ts
  server/apps/socket/src/main.ts
  server/apps/socket/src/socket.controller.spec.ts
  server/apps/socket/src/socket.controller.ts
  server/apps/socket/src/socket.module.ts
  server/apps/socket/src/socket.service.ts
  server/apps/socket/test/app.e2e-spec.ts
  server/apps/socket/test/jest-e2e.json
  server/apps/socket/tsconfig.app.json
  server/apps/webhook.interceptor.ts
  server/custom_pipe/mongodbObjectIdValidation.pipe.ts
  server/dao/repository/user.repository.ts
  server/dao/schemas/channel.schema.ts
  server/dao/schemas/chat.schema.ts
  server/dao/schemas/chatList.schema.ts
  server/dao/schemas/community.schema.ts
  server/dao/schemas/user.schema.ts
  server/tsconfig.json
  server/utils/def.ts
  server/utils/responseForm.ts
Labels: 🌐 server

#93 [Server/auth] refactor: auth.dto.ts를 분할
  server/apps/api/src/auth/dto/index.ts
  server/apps/api/src/auth/dto/sign-in.dto.ts
  server/apps/api/src/auth/dto/sign-up.dto.ts
Labels: 🌐 server, 🚧 refactor

#121 [CLIENT] `UserProfile`에 mock 데이터 제대로 렌더링 되지 않는 문제 해결
  client/src/mocks/handlers/Auth.js
Labels: 🧰fix

#154 [Server/channel add] 공개채널/비공개채널에 따른 생성 시 채널 유저
  server/apps/api/src/channel/channel.service.ts
  server/dao/repository/channel.repository.ts
Labels: 🌐 server, ✨ feature
