Repository boostcampwm-2022/web24-Asnity, pull requests merged in 2022-12, with the labels that each got.

#214 [DevOps/fix] Server docker secrete 설정
  .github/workflows/server.yml
Labels: 🌐 server, 🧰fix

#224 [DevOps/Fix] docker action
  .github/workflows/server.yml
Labels: 🌐 server, 🧰fix

#258 [CLIENT] `NotFound` 페이지 작성
  client/src/pages/NotFound/index.tsx
Labels: ✨ feature, 🌈 client

#268 [Server/fix] 커뮤니티 없을 시 처리 추가
  server/apps/api/src/community/communities.controller.ts
  server/apps/api/src/community/community.service.ts
Labels: 🌐 server, 🧰fix

#269 [Server/chat] api url 및 채팅 저장 dto 변경
  server/apps/api/src/chat-list/chat-list.controller.ts
  server/apps/api/src/chat-list/dto/restore-message.dto.ts
Labels: 🌐 server, 🚧 refactor

#270 [Server/chat] 채팅 저장 시 accessToken에서 유저 정보 받아오지 않는 오류 해결
  server/apps/api/src/chat-list/chat-list.controller.ts
Labels: 🌐 server, 🧰fix

#284 [Server/channel] 타입 에러 해결
  server/apps/api/src/channel/channel.service.ts
Labels: 🌐 server, 🧰fix

#285 [Server/CI,CD] fix: jwt secrete import
  .github/workflows/server.yml
  package.json
Labels: 🌐 server, 🧰fix

#290 [Server/Hotfix] socket secrete 반영
  .github/workflows/server.yml
  server/apps/socket/Dockerfile
Labels: 🌐 server, 🧰fix

#323 [Server/channel] 채널 이탈 시 버그 해결
  server/apps/api/src/channel/helper/addObjectForm.ts
Labels: 🌐 server, 🧰fix

#344 [CLIENT] `lastRead`를 `existUnreadChat`로 변경
  client/src/apis/channel.ts
  client/src/components/ChannelItem/index.tsx
  client/src/hooks/channel.ts
  client/src/layouts/Gnb/index.tsx
  client/src/layouts/SocketLayer/index.tsx
  client/src/mocks/data/communities.js
  client/src/mocks/handlers/Channel.js
  client/src/pages/Channel/index.tsx
Labels: 🌈 client, 🚧 refactor

#350 fix: get communities 시 커뮤니티 및 채널 정렬
  server/apps/api/src/community/community.service.ts
  server/apps/api/src/community/helper/sortedByCreateTime.ts
Labels: 🌐 server, 🚧 refactor

#361 [CLIENT] 시스템 봇
  client/src/components/ChatItem/index.tsx
Labels: ✨ feature, 🌈 client

#363 [Server/Hotfix] docker 내부 localhost 오류 해결: 주소 대신 타겟 컨테이너 이름 작성
  server/apps/socket/src/axios/request-api-server.ts
  server/apps/socket/src/mock_client/client.js
Labels: 🌐 server, 🧰fix

#379 [Server/chat] 봇 메세지 한국 시간으로 수정
  server/apps/api/src/channel/bot.service.ts
  server/apps/api/src/channel/helper/getKoreanTime.ts
  server/apps/api/src/channel/helper/index.ts
Labels: 🌐 server, 🧰fix

#382 [CLIENT] 안 읽은 메시지 버그 수정
  client/src/components/ChatList/index.tsx
  client/src/hooks/chat.ts
  client/src/pages/Channel/index.tsx
Labels: ✨ feature, 🌈 client

#384 [CLIENT] DM 페이지 타이틀을 Asnity로 변경
  client/src/layouts/DmNav/index.tsx
Labels: 🧰fix, 🌈 client

#385 [Server/community] 안읽은 채팅 존재 여부 확인 못하는 이슈 해결
  server/apps/api/src/community/community.service.ts
Labels: 🌐 server, 🧰fix

#403 docs: README 발표 영상 및 발표 PPT 수정
  README.md
Labels: 📃 documentation

#409 [Server/Fix] main merge 시 deploy되도록 변경
  .github/workflows/server.yml
  server/apps/api/Dockerfile
Labels: 🌐 server, 🔧 project-settings
