Repository boostcampwm-2022/web24-Asnity, pull requests merged in 2023-01, with the labels that each got.

#416 [Server/chat] 안 읽은 채팅 이슈 해결
  server/apps/api/src/chat-list/chat-list.service.ts
Labels: 🌐 server, 🧰fix

#427 Main Merge After Week6
  .github/workflows/server.yml
  client/.gitignore
  client/jest.config.ts
  client/package.json
  client/src/App.test.tsx
  client/src/__mocks__/fileMock.js
  client/src/components/Form/SignInForm.tsx
  client/src/components/Form/SignUpForm.tsx
  client/src/components/Form/SignUpFormTypes.ts
  client/src/components/LabelInput/index.tsx
  client/src/components/ValidationInputWrapper/index.tsx
  client/src/components/__tests__/SignInForm.spec.tsx
  client/src/components/__tests__/SignUpForm.spec.tsx
  client/src/hooks/useIntersectionObservable.ts
  client/src/pages/Channel/index.tsx
  client/src/pages/SignIn/index.tsx
  client/src/pages/SignUp/index.tsx
  client/src/utils/testUtils.tsx
  server/__mock__/channel.mock.ts
  server/__mock__/community.mock.ts
  server/__mock__/user.mock.ts
  server/apps/api/Dockerfile
  server/apps/api/src/chat-list/chat-list.service.ts
  server/apps/api/src/community/community.service.ts
  server/apps/api/src/user/dto/follower.dto.ts
  server/apps/api/src/user/dto/get-users.dto.ts
  server/apps/api/src/user/dto/modify-user.dto.ts
  server/apps/api/src/user/helper/Relation.ts
  server/apps/api/src/user/helper/checkRelation.ts
  server/apps/api/src/user/user.controller.ts
  server/apps/api/src/user/user.service.ts
  server/apps/api/src/user/users.controller.ts
  server/apps/api/test/auth.e2e-spec.ts
  server/apps/api/test/beforeRequest/createChannel.request.ts
  server/apps/api/test/beforeRequest/createCommunity.request.ts
  server/apps/api/test/beforeRequest/signinUser.request.ts
  server/apps/api/test/beforeRequest/signupUser.request.ts
  server/apps/api/test/channel.e2e-spec.ts
  server/apps/api/test/community.e2e-spec.ts
  server/apps/api/test/urls/urls.ts
  server/apps/api/test/user.e2e-spec.ts
  server/custom/interceptor/api.interceptor.ts
  server/dao/repository/chat-list.respository.ts
  server/dao/repository/community.repository.ts
  server/dao/repository/user.repository.ts
  yarn.lock
Labels: 🌐 server, 🌈 client

#428 docs: README 업데이트
  README.md
Labels: 📃 documentation
